In [3]:
import pandas as pd
import numpy as np

In [5]:
accre_df = pd.read_csv('../data/accre-jobs-2020.csv', nrows=1000)

In [9]:
accre_df.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [10]:
accre_df.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
995,17016721_16,sunburst,darlyne,8192Mn,2547.97M,14-00:00:00,7-17:16:46,1,1,production,0:0,COMPLETED,cn322
996,17016721_17,sunburst,darlyne,8192Mn,1950.11M,14-00:00:00,7-03:03:50,1,1,production,0:0,COMPLETED,cn322
997,17016721_18,sunburst,darlyne,8192Mn,2450.23M,14-00:00:00,7-09:59:09,1,1,production,0:0,COMPLETED,cn322
998,17016721_19,sunburst,darlyne,8192Mn,2743.43M,14-00:00:00,7-12:40:23,1,1,production,0:0,COMPLETED,cn322
999,17016721_20,sunburst,darlyne,8192Mn,1972.13M,14-00:00:00,7-06:27:41,1,1,production,0:0,COMPLETED,cn322

In [8]:
accre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      1000 non-null   object
 1   ACCOUNT    1000 non-null   object
 2   USER       1000 non-null   object
 3   REQMEM     1000 non-null   object
 4   USEDMEM    1000 non-null   object
 5   REQTIME    1000 non-null   object
 6   USEDTIME   1000 non-null   object
 7   NODES      1000 non-null   int64
 8   CPUS       1000 non-null   int64
 9   PARTITION  1000 non-null   object
 10  EXITCODE   1000 non-null   object
 11  STATE      1000 non-null   object
 12  NODELIST   1000 non-null   object
dtypes: int64(2), object(11)
memory usage: 101.7+ KB

In [11]:
accre_df['ACCOUNT'].value_counts()

minnewashta    622
sunburst       290
treviso         30
mixed           24
delblush        10
cantared         3
turban           3
cep              2
mangosteen       2
pepino           2
seeded           1
fresh            1
cepuna           1
sprite           1
broccoli         1
horseradish      1
galia            1
lychees          1
conference       1
harovin          1
mickey           1
fava             1
Name: ACCOUNT, dtype: int64

In [12]:
accre_df['STATE'].value_counts()

COMPLETED    999
CANCELLED      1
Name: STATE, dtype: int64