In [43]:
import numpy as np 
import pandas as pd 
import re

In [25]:
col_names= ['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'STATE', 'NODE1','NODE2','NODE3','NODE4']

accre_df = pd.read_csv('../data/accre-jobs-2020.csv', names=col_names, nrows = 10000)

In [35]:
accre_df = accre_df.iloc[1:]
accre_df.head(50)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODE1,NODE2,NODE3,NODE4
2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,NaN,NaN,NaN
3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,NaN,NaN,NaN
4,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,NaN,NaN,NaN
5,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,NaN,NaN,NaN
6,16297022,treviso,arabella,122880Mn,65183.02M,13-18:00:00,12-02:31:43,1,24,production,0:0,COMPLETED,cn1443,NaN,NaN,NaN
7,16297024,treviso,arabella,122880Mn,64941.85M,13-18:00:00,13-06:54:59,1,24,production,0:0,COMPLETED,cn1531,NaN,NaN,NaN
8,16316283,treviso,arabella,122880Mn,68499.51M,13-18:00:00,13-18:00:05,1,24,production,0:0,COMPLETED,cn1535,NaN,NaN,NaN
9,16316284,treviso,arabella,122880Mn,67761.41M,13-18:00:00,13-18:00:15,1,24,production,0:0,COMPLETED,cn1464,NaN,NaN,NaN
10,16316324,treviso,arabella,122880Mn,68087.66M,13-18:00:00,13-18:00:06,1,24,production,0:0,COMPLETED,cn1473,NaN,NaN,NaN
11,16316325,treviso,arabella,122880Mn,68113.75M,13-18:00:00,13-18:00:14,1,24,production,0:0,COMPLETED,cn1536,NaN,NaN,NaN
12,16324564,treviso,arabella,122880Mn,67732.33M,13-18:00:00,12-17:02:59,1,24,production,0:0,COMPLETED,cn1445,NaN,NaN,NaN
13,16324565,treviso,arabella,122880Mn,67294.18M,13-18:00:00,13-02:34:13,1,24,production,0:0,COMPLETED,cn1470,NaN,NaN,NaN
14,16338512,treviso,arabella,122880Mn,67815.17M,13-18:00:00,17-14:55:43,1,24,production,0:0,COMPLETED,cn1439,NaN,NaN,NaN
15,16338513,treviso,arabella,122880Mn,67156.55M,13-18:00:00,13-18:00:24,1,24,production,0:0,COMPLETED,cn1435,NaN,NaN,NaN
16,16355590,treviso,arabella,122880Mn,69549.25M,13-18:00:00,13-18:00:00,1,24,production,0:0,COMPLETED,cn1535,NaN,NaN,NaN
17,16355591,treviso,arabella,122880Mn,69557.56M,13-18:00:00,13-18:00:26,1,24,production,0:0,COMPLETED,cn1533,NaN,NaN,NaN
18,16355592,treviso,arabella,122880Mn,69400.51M,13-18:00:00,13-18:00:22,1,24,production,0:0,COMPLETED,cn1446,NaN,NaN,NaN
19,16355593,treviso,arabella,122880Mn,65773.31M,13-18:00:00,13-18:00:04,1,24,production,0:0,COMPLETED,cn1447,NaN,NaN,NaN
20,16368748,treviso,arabella,122880Mn,66081.39M,13-18:00:00,13-18:00:14,1,24,production,0:0,COMPLETED,cn1470,NaN,NaN,NaN
21,16368749,treviso,arabella,122880Mn,67882.97M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1534,NaN,NaN,NaN
22,16368750,treviso,arabella,122880Mn,116156.53M,13-18:00:00,13-08:52:49,1,24,production,0:0,COMPLETED,cn1532,NaN,NaN,NaN
23,16387008,treviso,arabella,122880Mn,66231.43M,13-18:00:00,13-18:00:17,1,24,production,0:0,COMPLETED,cn1459,NaN,NaN,NaN
24,16407707,treviso,arabella,122880Mn,65649.79M,13-18:00:00,13-18:00:26,1,24,production,0:0,COMPLETED,cn1458,NaN,NaN,NaN
25,16601402,mickey,dequan,126976Mn,33829.39M,20-20:00:00,20-20:00:22,1,24,cgw-dougherty1,0:0,COMPLETED,dougherty1,NaN,NaN,NaN
26,16724750,fava,jimena,102400Mn,70400.58M,12-12:00:00,12-12:00:25,1,1,cgw-capra1,0:0,COMPLETED,capra1,NaN,NaN,NaN
27,16793811_0,delblush,gregoria,65536Mn,30894.00M,12-00:00:00,12-00:00:06,1,16,production,0:0,COMPLETED,cn1431,NaN,NaN,NaN
28,16793811_1,delblush,gregoria,65536Mn,1601.95M,12-00:00:00,12-00:00:06,1,16,production,0:0,COMPLETED,cn1445,NaN,NaN,NaN
29,16793811_2,delblush,gregoria,65536Mn,1489.33M,12-00:00:00,12-00:00:06,1,16,production,0:0,COMPLETED,cn1460,NaN,NaN,NaN
30,16793811_3,delblush,gregoria,65536Mn,1555.11M,12-00:00:00,12-00:00:06,1,16,production,0:0,COMPLETED,cn1449,NaN,NaN,NaN
31,16793811_4,delblush,gregoria,65536Mn,1528.69M,12-00:00:00,12-00:00:06,1,16,production,0:0,COMPLETED,cn1450,NaN,NaN,NaN
32,16793811_5,delblush,gregoria,65536Mn,33054.96M,12-00:00:00,12-00:00:20,1,16,production,0:0,COMPLETED,cn1430,NaN,NaN,NaN
33,16793811_6,delblush,gregoria,65536Mn,27179.00M,12-00:00:00,12-00:00:02,1,16,production,0:0,COMPLETED,cn1534,NaN,NaN,NaN
34,16793811_7,delblush,gregoria,65536Mn,32735M,12-00:00:00,6-04:58:34,1,16,production,0:0,COMPLETED,cn1436,NaN,NaN,NaN
35,16793811_8,delblush,gregoria,65536Mn,33084.10M,12-00:00:00,6-06:08:45,1,16,production,0:0,COMPLETED,cn1457,NaN,NaN,NaN
36,16793811_9,delblush,gregoria,65536Mn,33062.07M,12-00:00:00,5-05:19:51,1,16,production,0:0,COMPLETED,cn1433,NaN,NaN,NaN
37,16804188_6,fresh,brinda,131072Mn,68334.20M,14-00:00:00,14-00:00:20,1,7,production,0:0,COMPLETED,cn1301,NaN,NaN,NaN
38,16849298_1888,minnewashta,jenniffer,16384Mn,570.09M,2-22:00:00,2-22:00:21,1,1,production,0:0,COMPLETED,cn323,NaN,NaN,NaN
39,16849298_1889,minnewashta,jenniffer,16384Mn,573.45M,2-22:00:00,2-22:00:25,1,1,production,0:0,COMPLETED,cn425,NaN,NaN,NaN
40,16849298_1890,minnewashta,jenniffer,16384Mn,586.41M,2-22:00:00,2-22:00:01,1,1,production,0:0,COMPLETED,cn1127,NaN,NaN,NaN
41,16849298_1892,minnewashta,jenniffer,16384Mn,571.80M,2-22:00:00,2-22:00:01,1,1,production,0:0,COMPLETED,cn1130,NaN,NaN,NaN
42,16849298_1896,minnewashta,jenniffer,16384Mn,585.62M,2-22:00:00,2-15:14:56,1,1,production,0:0,COMPLETED,cn1391,NaN,NaN,NaN
43,16849298_1897,minnewashta,jenniffer,16384Mn,585.10M,2-22:00:00,2-20:52:35,1,1,production,0:0,COMPLETED,cn1392,NaN,NaN,NaN
44,16849298_1898,minnewashta,jenniffer,16384Mn,626.53M,2-22:00:00,2-19:17:20,1,1,production,0:0,COMPLETED,cn1311,NaN,NaN,NaN
45,16849298_1913,minnewashta,jenniffer,16384Mn,586.04M,2-22:00:00,2-15:29:20,1,1,production,0:0,COMPLETED,cn1338,NaN,NaN,NaN
46,16849298_1927,minnewashta,jenniffer,16384Mn,584.00M,2-22:00:00,2-22:00:01,1,1,production,0:0,COMPLETED,cn331,NaN,NaN,NaN
47,16849298_1930,minnewashta,jenniffer,16384Mn,565.45M,2-22:00:00,2-22:00:01,1,1,production,0:0,COMPLETED,cn391,NaN,NaN,NaN
48,16849298_1933,minnewashta,jenniffer,16384Mn,620.59M,2-22:00:00,2-16:31:46,1,1,production,0:0,COMPLETED,cn1306,NaN,NaN,NaN
49,16849298_1934,minnewashta,jenniffer,16384Mn,585.38M,2-22:00:00,2-20:16:58,1,1,production,0:0,COMPLETED,cn1392,NaN,NaN,NaN
50,16849298_1935,minnewashta,jenniffer,16384Mn,585.21M,2-22:00:00,2-18:43:21,1,1,production,0:0,COMPLETED,cn1425,NaN,NaN,NaN
51,16849298_1936,minnewashta,jenniffer,16384Mn,586.03M,2-22:00:00,2-18:16:56,1,1,production,0:0,COMPLETED,cn1284,NaN,NaN,NaN

In [27]:
len(accre_df['NODE1'].unique())

834

In [28]:
accre_df['NODES'] = accre_df['NODES'].astype(int)

In [29]:
accre_df['CPUS'] = accre_df['CPUS'].astype(int)

In [30]:
accre_df.dtypes

JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES         int32
CPUS          int32
PARTITION    object
EXITCODE     object
STATE        object
NODE1        object
NODE2        object
NODE3        object
NODE4        object
dtype: object

In [44]:
exactly_2_nodes = accre_df[accre_df['NODES'] == 3]
exactly_2_nodes

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODE1,NODE2,NODE3,NODE4
3460,17050901_90,winged,lavonda,4096Mn,570.32M,12:00:00,00:05:49,3,1,production,0:0,COMPLETED,cn[416,425,1134],NaN
3464,17050901_94,winged,lavonda,4096Mn,620.31M,12:00:00,00:05:59,3,1,production,0:0,COMPLETED,cn[425,449,1134],NaN
3471,17050901_101,winged,lavonda,4096Mn,641.92M,12:00:00,00:06:02,3,1,production,0:0,COMPLETED,cn[463,911,1134],NaN
3529,17050901_159,winged,lavonda,4096Mn,1640.01M,12:00:00,09:49:37,3,1,production,0:0,COMPLETED,cn[911,913,1081],NaN
3538,17050901_168,winged,lavonda,4096Mn,1227.20M,12:00:00,10:23:29,3,1,production,0:0,COMPLETED,cn[382-383,1093],NaN,NaN
3542,17050901_172,winged,lavonda,4096Mn,1043.89M,12:00:00,02:19:02,3,1,production,0:0,COMPLETED,cn[1126-1127,1130],NaN,NaN
3579,17050901_209,winged,lavonda,4096Mn,621.94M,12:00:00,00:05:12,3,1,production,0:0,COMPLETED,cn[1084,1095-1096],NaN,NaN
3580,17050901_210,winged,lavonda,4096Mn,570M,12:00:00,00:05:56,3,1,production,0:0,COMPLETED,cn[1126-1127,1135],NaN,NaN
3581,17050901_211,winged,lavonda,4096Mn,507.73M,12:00:00,00:06:08,3,1,production,0:0,COMPLETED,cn[1088,1132-1133],NaN,NaN
3600,17050901_230,winged,lavonda,4096Mn,638.77M,12:00:00,00:05:31,3,1,production,0:0,COMPLETED,cn[1131-1133],NaN,NaN,NaN
3603,17050901_233,winged,lavonda,4096Mn,515.81M,12:00:00,00:05:18,3,1,production,0:0,COMPLETED,cn[1084,1095-1096],NaN,NaN
3604,17050901_234,winged,lavonda,4096Mn,568.66M,12:00:00,00:03:50,3,1,production,0:0,COMPLETED,cn[463,1088,1123],NaN
3614,17050901_244,winged,lavonda,4096Mn,2053.59M,12:00:00,04:23:32,3,1,production,0:0,COMPLETED,cn[1094-1096],NaN,NaN,NaN
3617,17050901_247,winged,lavonda,4096Mn,657.07M,12:00:00,00:05:10,3,1,production,0:0,COMPLETED,cn[1131-1133],NaN,NaN,NaN
3622,17050901_252,winged,lavonda,4096Mn,2067.69M,12:00:00,08:53:58,3,1,production,0:0,COMPLETED,cn[1082-1084],NaN,NaN,NaN
3623,17050901_253,winged,lavonda,4096Mn,588.94M,12:00:00,00:05:45,3,1,production,0:0,COMPLETED,cn[1086-1088],NaN,NaN,NaN
3629,17050901_259,winged,lavonda,4096Mn,1364.63M,12:00:00,12:00:06,3,1,production,0:0,COMPLETED,cn[1130-1132],NaN,NaN,NaN
3631,17050901_261,winged,lavonda,4096Mn,2190.46M,12:00:00,12:00:06,3,1,production,0:0,COMPLETED,cn[1088,1134-1135],NaN,NaN
3633,17050901_263,winged,lavonda,4096Mn,634.75M,12:00:00,00:06:07,3,1,production,0:0,COMPLETED,cn[1090,1094,1132],NaN
3638,17050901_268,winged,lavonda,4096Mn,2066.19M,12:00:00,12:00:26,3,1,production,0:0,COMPLETED,cn[1086-1088],NaN,NaN,NaN
3674,17050901_304,winged,lavonda,4096Mn,925.13M,12:00:00,09:33:05,3,1,production,0:0,COMPLETED,cn[911,913,1081],NaN

In [34]:
accre_df['NODE1'].value_counts()

gpu0045          321
gpu0040          234
gpu0037          219
gpu0038          136
gpu0039          118
                ...
ng1069             1
ng1074             1
ng1104             1
ng1049             1
cn[1277-1278]      1
Name: NODE1, Length: 834, dtype: int64

In [57]:
accre_df['NODE1'].unique()[835:1000]

array(['cn[1371', 'cn[1487', 'cn[461', 'gpu0015', 'gpu0016', 'gpu0017',
       'cn[1434-1435]', 'gpu0018', 'gpu0019', 'gpu0020', 'gpu0025',
       'gpu0026', 'ng909', 'cn1525', 'gpu[0040-0041]', 'cn[1448-1450]',
       'cn[1465-1467]', 'gpu0003', 'cn[1430-1432]', 'cn371',
       'cn[442-446]', 'cn[303', 'cn[1260-1261', 'cn[1303-1310',
       'cn[1303-1311', 'cn1572', 'gpu0047', 'cn[478', 'cn[1431-1437',
       'cn[1431-1432', 'cn[1281', 'cn[319', 'cn[1378-1379]',
       'cn[1370-1371]', 'cn[1364', 'cn[1309', 'cn[312', 'cn[308',
       'cn[366', 'cn[1426-1427]', 'cn[301-302]', 'cn[1441', 'cn[1474',
       'cn[1370', 'cn[1299', 'cn[483-484]', 'cn[1485', 'cn[1381',
       'cn[1265', 'cn[1362', 'cn[1302', 'cn[1283', 'cn[1361', 'cn[1206',
       'cn[1293', 'cn[1384', 'cn[309', 'cn[1515', 'cn[1211-1212]',
       'cn[422', 'cn[381', 'cn[1272', 'cn[1238', 'cn[1454-1455]',
       'cn[1468-1469]', 'cn[1471-1472]', 'cn[1457-1458]', 'cn[1439',
       'cn[1449', 'cn[1202', 'cn[1438-1439]', 'cn[1444-1445]',
       'cn[1480-1481]', 'cn[1458-1459]', 'cn[1462-1463]', 'cn[1463-1464]',
       'cn[1464-1465]', 'cn[1442', 'cn[1455', 'cn[1471', 'cn[1477',
       'cn[1358', 'cn[1454', 'cn[1493', 'cn[1447', 'cn[1517-1518]',
       'cn[1475', 'cn[1497', 'cn[1505', 'cn[1519', 'gpu0053',
       'cn[374-376]', 'ng217', 'ng218', 'ng219', 'ng220', 'ng221',
       'ng222', 'ng223', 'ng224', 'ng225', 'ng226', 'ng227', 'ng228',
       'ng229', 'ng230', 'ng231', 'ng232', 'ng233', 'ng234', 'ng235',
       'ng236', 'ng237', 'ng238', 'gpu0027', 'cn[336-338', 'cn[330',
       'cn1400', 'cn1401', 'cn1402', 'cn1403', 'cn1404', 'cn1405',
       'cn1406', 'cn1407', 'cn1408', 'cn1409', 'cn1410', 'cn1411',
       'cn1412', 'cn1413', 'cn1414', 'cn1415', 'cn1416', 'cn1417',
       'cn1418', 'cn1419', 'gpu0054', 'cn[1467-1468]', 'cn[1288',
       'cn[1355-1356]', 'cn[440', 'cn[338', 'cn[1216-1217]', 'gpu0043',
       'gpu0044', 'gpu0048', 'gpu0049', 'cn[314', 'cn[1441-1442',
       'gpu0050', 'gpu0051', 'gpu[0037-0040]', 'gpu[0049-0052]',
       'cn[1205', 'cn[1430', 'cn[391', 'cn[332-333', 'cn[1291-1292]',
       'gpu0030', 'gpu0029', 'cn[326', 'cn1231', 'cn[1536-1537]',
       'cn[331-338'], dtype=object)

In [12]:
#See how many rows were in original file
f = open("../data/accre-jobs-2020.csv")
row_count= len(f.readlines())
row_count

3816291

In [32]:
accre_df.shape

(3816291, 18)

In [20]:
accre_df.head()

                                                   0
0  JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USED...
1  15925210,treviso,arabella,122880Mn,65973.49M,1...
2  15861126,treviso,arabella,122880Mn,67181.12M,1...
3  15861125,treviso,arabella,122880Mn,69111.86M,1...
4  16251645,treviso,arabella,122880Mn,65317.33M,1...

In [10]:
ACCRE_data.shape

(3813593, 13)

In [ ]:
#text reader has 1,048,576 rows not reading all
#after skipping badlines we have 3,813,593 rows